.stepperWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  /* width: 100vw; */
  /* height: 100vh; */
  
}

.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: calc( 100% * 2/3);
}

.stepperItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;  
  border-radius: 9999px;
  border: 2px solid rgb(184, 184, 184);
  color: rgb(184, 184, 184);
}

.stepperLine {
  border-top: 2px solid rgb(184, 184, 184);
  flex: auto;
}

.finishedStep {
  background-color: #2782C1;
  color: white;
}